html, body, #calc, .Card, .Calc, .App, #root, #wrap  {
  height: 100%;
}

html,
body {
  margin: 0;
}

#wrap {
  display: flex;
  flex-flow: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tick {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* For Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/* For Sidebar and XYcoord Layout*/
.column {
  float: left;
  padding: 0px;
  height: 100%;
  flex: 1;
}
.left {
  width: 25%;
  height: 100%;
  overflow: hidden;
  box-shadow: -6px 0 5px 5px #333;
}
.right {
  width: 75%;
}
.coordsys {
  width: 100%;
  height: 100%;
}
.Sidebar {
  height: 100%;
}
.KMTools {
  height: 100%;
}
/* For Table Layout */
.remove {
  background: #f1f1f1;
}
.remove td {
  font-style: italic;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.input-group {
  width: 100%;
}
.addBtn {
  cursor: pointer;
  color: #808080;
  font-size: 20px;
}
.addBtn:hover {
  color: black;
}
.delBtn {
  cursor: pointer;
  color: #808080;
  font-size: 20px;
}
.delBtn:hover {
  color: black;
}
.formInput {
  max-width: 120px;
}
#data {
  min-width: 320px;
  color: red;
  height: 300px;
  overflow: hidden;

}
#center {
  color: green;
  height: 200px;
  overflow: hidden;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* For Toolbar Layout */
.outer-menu {
  height: 50px;
  background: #E8E8E8;
  border-bottom: 1px solid #D3D3D3;  
  min-width: 320px;
}
.bar {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  position: relative;
  top: 12.5%;
}
.bar ul {
  list-style: none;
  display: -webkit-box;
  float: none;
  padding: 0px;
  color: #808080;
  background: #E8E8E8;
}
.bar ul li {
  background: #E8E8E8;
  border-radius: 10px;
  position: relative;
  display: block;
  min-width: 40px;
  cursor: pointer;
  padding: 5px;
  background-position: center center;
  font-size: 18px;
  text-align: center;
}
.bar ul li:hover {
  background: #D3D3D3;
  color: black;
}
.bar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  background: #E8E8E8;
  border-radius: 10px;
}
.bar ul ul li {
  float: none;
  border-right: none;
  border-bottom: 1px solid #D3D3D3;
  border-radius: 0px;
}
.bar ul ul li:first-child {
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bar ul ul li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bar ul li:hover>ul {
  display: block;
}

/* Toolbar button title*/

/*
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #00FF00;
  color: #111;
  font-size: 150%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
*/